<nav>
	<div class="container">

		<div class="container__nav">
			<ul>
				<li>
					<a routerLink="">Home</a>
				</li>
				<ng-container *ngIf="!(accountService.currentUser$ | async)">
					<li>
						<a routerLink="register">Register</a>
					</li>
					<li>
						<a routerLink="login">Login</a>
					</li>
				</ng-container>
				<ng-container *ngIf="(accountService.currentUser$ | async)?.role === 'User'">
					<li>
						<a routerLink="objectives">Objectives</a>
					</li>
				</ng-container>
				<ng-container *ngIf="(accountService.currentUser$ | async)?.role === 'Admin'">
					<li>
						<a routerLink="statistics">Statistics</a>
					</li>
				</ng-container>
			</ul>
		</div>
		
		<ng-container *ngIf="(accountService.currentUser$  | async) as user">
			<div class="container__account">
				<p>{{ user.email }}</p>
			</div>
			<div class="container__account">
				<button mat-raised-button color="warn" (click)="logout()">Logout</button>
			</div>
		</ng-container>
	
	</div>
</nav>
<mat-divider></mat-divider>
