.container {
    max-width: 470px;
    margin: 0 auto;
}

.container__form {
    padding: 30px;
    margin: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 2px solid rgb(240, 240, 240);
}

.form-field {
    margin-bottom: 12px;
    width: 100%;
}

.submit-btn {
    margin-top: 5px;
    margin-left: 3px;
}

.error-message {
    font-size: 15px;
    color: red;
    margin-left: 5px;
    margin-top: 15px;
}
