<div class="container">
    <div class="container__table" *ngIf="statistics.length !== 0">
        <table mat-table [dataSource]="statistics">

            <ng-container matColumnDef="userEmail">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let stat">{{stat.userEmail}}</td>
            </ng-container>

            <ng-container matColumnDef="objectivesTotalExecutedCount">
                <th mat-header-cell *matHeaderCellDef>Total executed objectives</th>
                <td mat-cell *matCellDef="let stat">{{stat.objectivesTotalExecutedCount}}</td>
            </ng-container>

            <ng-container matColumnDef="objectiveExecutedLastTime">
                <th mat-header-cell *matHeaderCellDef>Executed last time</th>
                <td mat-cell *matCellDef="let stat">{{(stat.objectiveExecutedLastTime| date: 'dd.MM.yyyy HH:mm:ss') || '&#8212;' }}</td>
            </ng-container>

            <ng-container matColumnDef="totalObjectivesCount">
                <th mat-header-cell *matHeaderCellDef>Total objectives</th>
                <td mat-cell *matCellDef="let stat">{{stat.totalObjectivesCount}}</td>
            </ng-container>

            <ng-container matColumnDef="objectivesDeletedCount">
                <th mat-header-cell *matHeaderCellDef>Deleted objectives</th>
                <td mat-cell *matCellDef="let stat">{{stat.objectivesDeletedCount}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
        </table>
    </div>
    <div class="container__no-users" *ngIf="statistics.length === 0">
        <h2>No users yet =(</h2>
    </div>
</div>
